@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(0%) translateY(0px);
  }
  25% {
    transform: translateX(-12.5%) translateY(-20px);
  }
  50% {
    transform: translateX(-25%) translateY(0px);
  }
  75% {
    transform: translateX(-37.5%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0px);
  }
}

.animate-slide {
  display: flex;
  width: max-content;
  animation: slide 20s linear infinite;
}

.dancing {
  font-family: "Dancing Script", cursive;
}
.gotu {
  font-family: "Gotu", cursive;
  font-weight: 800;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.amita {
  font-family: "Amita", serif;
  font-weight: 400;
  font-style: normal;
}

.fjalla {
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arvo {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
